<section>
    <form
     fxLayout="column"
     fxLayoutAlign="center center"
     fxLayoutGap="7px"
     #f="ngForm"
     (ngSubmit)="onSubmit(f)">
<!--email-->
<mat-form-field>
    <input
    type="email"
    matInput 
    placeholder="Your email"
    ngModel 
    name="email"
    email
    required
    #emailInput="ngModel"> 
    <mat-error *ngIf="emailInput.hasError('required')">Field should not be empty</mat-error>
    <mat-error *ngIf="!emailInput.hasError('required')">Please use the correct email format.</mat-error>
</mat-form-field>

<!--sfira-->
<mat-form-field hintLabel="Please enter minimum 8 characters.">
    <input
    type="password"
    matInput
    placeholder="Your password"
    ngModel 
    name="password"
    required
    minlength="8"
    #passInput="ngModel"
    >
    <mat-hint align="end">{{ passInput.value?.length }} / 8</mat-hint>
</mat-form-field>

<!--Potvrda forme-->
<button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Submit</button> <!-- bind value [] -->
  
</form>

<mat-label *ngIf="errorExists">{{ errorText }}</mat-label>
<a routerLink="/signup">I do not have an account</a>



</section>