<!-- 
    FlexLayout (korisceno za toolbar)
    https://github.com/angular/flex-layout/wiki/Declarative-API-Overview
 -->

<mat-sidenav-container>

    <mat-sidenav #sidenav opened="true">
        <mat-nav-list>

            <a mat-list-item routerLink="/signup" (click)="sidenav.close()">
                <mat-icon>person</mat-icon>
                Signup
            </a>

            <a mat-list-item routerLink="/login" (click)="sidenav.close()">
                <mat-icon>login</mat-icon>
                Login
            </a>

            <a mat-list-item routerLink="/training" (click)="sidenav.close()">
                <mat-icon>fitness_center</mat-icon>
                Training
            </a>

            <a mat-list-item routerLink="/" (click)="sidenav.close()">
                <mat-icon>logout</mat-icon>
                Logout
            </a>

        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar>
            <!-- Otvaranje i zatvaranje sidenav-a -->
            <div fxHide.gt-xs>
                <button mat-button (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon> <!-- generisanje "hamburgera" (ikonica menija)-->
                </button>
            </div>

            <div>
                <a routerLink="/">Logo</a> <!-- link koji vodi na pocetnu tj. welcome komponentu -->
            </div>

            <!-- Rutiranje kroz linkove u toolbar-u i otvaranje Profila-->
            <div fxFlex fxLayoutAlign="end" fxLayoutGap="15px" fxHide.xs>
                <a routerLink="/signup">Signup</a>
                <a routerLink="/login">Login</a>
                <a routerLink="/training">Training</a>
                <button mat-raised-button color="warn" (click)="openProfile(this.userService.currentUser.id)">
                    {{ this.userService.currentUser.email }}
                </button>
            </div>

    
        </mat-toolbar>

        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>