<!-- <section>
     <button mat-raised-button color="primary">Klikni me!</button> 
 </section> -->
<!-- ako nemamo registrovan material.module onda je klasicno dugme (sivo) -->
<!-- <section>
     <button mat-raised-button color="accent"><mat-icon>home</mat-icon></button>
</section> -->

<!-- <section id="containter">
     <div id="child1" class="child"></div>
     <div id="child2" class="child"></div>
     <div id="child3" class="child"></div>
</section> -->

<mat-sidenav-container>

     <mat-sidenav #sidenav opened="true">
          <mat-nav-list>
          <a mat-list-item routerLink="/signup" (click)="sidenav.close()">
               <mat-icon>person</mat-icon>
               Singup
          </a>
          <a mat-list-item routerLink="/login" (click)="sidenav.close()">
               <mat-icon>login</mat-icon>
                Login
               </a>
          <a mat-list-item routerLink="/training" (click)="sidenav.close()">
               <mat-icon>fitness_center</mat-icon>
               Training
          </a>
          <a mat-list-item routerLink="/" (click)="sidenav.close()">
               <mat-icon>logout</mat-icon>
               Logout
          </a>
</mat-nav-list>

</mat-sidenav>

<mat-sidenav-content>

     <mat-toolbar>
<div>
<button
 mat-button
  (click)="sidenav.toggle()"
  fxHide.gt.xs>
  <mat-icon>menu</mat-icon>
</button> 
</div>

<div>
     <a routerLink="/" fxLayoutGap="10px">
          <mat-icon>house</mat-icon>
     </a>
</div>

<div
fxFlex 
fxLayoutAlign="end"
fxLayoutGap="10px"
fxHide.xs>
<a routerLink="/signup">Signup</a>
<a routerLink="/login">Login</a>
<a routerLink="/training">Training</a>
</div>

</mat-toolbar>


     <router-outlet></router-outlet>

</mat-sidenav-content>


</mat-sidenav-container>

