<mat-tab-group *ngIf="!ongoingTraining"> 
    <!-- postavljeno false -->
    <!--Tab trenutnog treninga-->
    <!-- <mat-tab label="Current training">
        <app-current-training></app-current-training>
 </mat-tab> -->

        <!--Tab novog treninga-->
        <mat-tab label="New training">
            <app-new-training (trainingStart)="ongoingTraining=true"></app-new-training> 
            <!-- stavljamo koji je inicijalni tab prikazan -->
            <!-- saljemo informacije roditeljskoj komponenti -->
        </mat-tab>

        <!--Tab prethodnog treninga-->
        <mat-tab label="Past training">
            <app-previous-training></app-previous-training>
        </mat-tab>
   

</mat-tab-group>
<app-current-training *ngIf="ongoingTraining"></app-current-training> 
<!-- samo osluskuje -->
