/* You can add global styles to this file, and also import other style files */
/* @import '~@angular/material/prebuilt-themes/pink-bluegrey.css'; */


html, body{
    height: 100%;
}


mat-sidenav-container, mat-sidenav-content, mat-sidenav{
    height: 100%;
}

mat-sidenav{
    width: 250px;
} 

iframe{
    width: 500px;
    height: 400px;
}